.card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.scale__mask {
    border-radius: 4px;
    overflow: hidden;
}

.card__img {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
    object-fit: cover;
    transition: transform 0.25s ease linear;
}

.card__img:hover {
    transform: scale(1.02);
}

.card__category {
    margin-left: auto;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.7rem;
    margin-top: 5px;
    color: var(--color--BLUE-500);
}

#dark .card__title {
    color: white;
}

.card__title {
    margin-bottom: 5px;
    color: var(--color--CHARCOAL-600);
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 0 10px;
}

#dark .card__content {
    color: var(--color--text--DARK);
}

.card__content {
    font-size: 0.9rem;
    line-height: 1.2rem;
    letter-spacing: 0.025rem;
    font-weight: 300;
    color: var(--color--CHARCOAL-400);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    padding: 0 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media (max-width: 990px) {
    .card__img {
        height: 220px;
    }
}
